<ion-header>
  <ion-toolbar>
    <ion-title>Top News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed>
    <ion-row>
      <ion-col size=12 size-lg=3 size-md=4 size-sm=6 size-xs=12  *ngFor="let new of news">

        <ion-card>
            <ion-img *ngIf="new.urlToImage" [src]="new.urlToImage"></ion-img>
            <ion-card-header>
              <ion-card-subtitle>{{new.author}}</ion-card-subtitle>
              <ion-card-title>{{new.title}}</ion-card-title>
            </ion-card-header>
          
            <ion-card-content *ngIf="new.description">
              {{new.description}}
            </ion-card-content>
          </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
