<ion-card>
    <ion-img *ngIf="article.urlToImage" [src]="article.urlToImage"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Author: {{article.author}}</ion-card-subtitle>
      <ion-card-title>{{article.title}}</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-icon name="calendar"></ion-icon>
      <ion-label>{{article.publishedAt | date: 'medium'}}</ion-label>
    </ion-item>
  
    <ion-card-content *ngIf="article.description">
      {{article.description}}
    </ion-card-content>

    <ion-card-content *ngIf="article.description">
      {{article.content}}
    </ion-card-content>

    <ion-button (click)="goToLink()">ver noticia</ion-button>

    <ion-item>
      <ion-label>{{article.source.name}}</ion-label>
    </ion-item>
  </ion-card>