<ion-header>
  <ion-toolbar>
    <ion-title>Sources</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)] = "term"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row *ngIf="sources">
    <ion-col size=12 size-md="6" *ngFor="let source of sources | search: term">
      <ion-list>
        <ion-item>
          <ion-label>
            <ion-text>
              <h2>{{source.name}}</h2> <ion-badge>{{source.category}}</ion-badge>
            </ion-text>
            <ion-text>
              <p>{{source.description}}</p>
            </ion-text>
          </ion-label>

        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
